*{
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif Arial; 
    background-color: #121212;
}
.sidebar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 196px;
    background-color: #000000;
    padding: 24px;
}
.sidebar  ul{
    list-style: none;
    margin-top: 10px;
}
.sidebar li{
    padding: 10px 0px;
}
.sidebar  li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 13px;
}
.sidebar li a:hover{
    color: #ffffff ;
}

.sidebar ul li .fa{
    font-size: 20px;
    margin-right: 10px;
}

.sidebar .policies{
    position: absolute;
    bottom: 100px;
}
.sidebar .policies ul{
    list-style: none;
}
.sidebar .policies ul li{
    padding-bottom: 5px;
}
.sidebar .policies ul li a {
    color: #b3b3b3;
    font-weight: 500;
    text-decoration: none;
    font-size: 10px;
}
.sidebar .navigation li a:hover
{
    text-decoration: underline;
}

.main-container {
    margin-left: 245px;
    margin-bottom: 100px;
}
.topbar{
    display: flex;
    gap: 800px;
    background-color: #101010;
    padding: 15px 40px;
    position: fixed;
    width: 100%;
   
}
.topbar .prev-next-buttons button{
    color: #7a7a7a;
    cursor: not-allowed;
    width: 34px;
    height: 34px;
    border-radius: 100%;
    font-size: 18px;
    border: 0px;
    background-color: #090909;
    margin-right: 10px;
}
.topbar .navbar{
    display: flex;
    align-items: center;
}
.topbar .navbar ul{
    list-style: none;
}
.topbar .navbar ul li{
    display: inline-block;
    margin: 0px 8px;
    width: 70px;
}
.topbar .navbar ul li a{
    color: #b3b3b3;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 1px;
}
.topbar .navbar ul li a:hover,
.topbar .navbar ul li a:active,
.topbar .navbar ul li a:focus{
    color: #ffffff;
    font-size: 15px;
}
.topbar .navbar ul li.divider{
    color: #ffffff;
    font-size: 26px;
    margin: opx 20px;
    width: auto;
}
.button{
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 40px;
    cursor: pointer;
    margin-left: 20px
}
.topbar .navbar .button:hover
{
    background-color: #f2f2f2;
    color: #000000;
}
.spotify-playlist{
    padding: 20px 40px;
   
}
.spotify-playlist h2{
    color: #ffffff;
    font-size: 22px;
    margin-bottom: 20px;
}
.spotify-playlist .list{
    display: flex;
    font-size: 22px;
    margin-bottom: 20px;
    grid-template-columns: 1fr repeat(6);
    width: 100%;
    align-items: center;
    display: flex;
    
    
}
.item{
    min-width: 140px;
    width: 100%;
    padding: 15px;
    background-color: #b1afaf00;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    display: grid;
    justify-content: space-around;
   
}

.item:hover{
    background-color: #252525;
}
.itemm{
    min-width: 140px;
    width: 100%;
    padding: 15px;
    background-color: #b1afaf00;
    border-radius: 6px;
    cursor: pointer;
    transition: all ease-in-out 0.4s;
    display: grid;
    justify-content: space-around;
   
}
.img{
    width: 100%;
    border-radius: 90px;
    margin-bottom: 10px;
    gap: 20px;
}
.imgg{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
    gap: 30px;
}
.itemm:hover{
    background-color: #252525;
}

.spotify-playlist h4{
    color: #ffffff;
    font-size: 14px;
    margin: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.spotify-playlist .p{
    color: #989898;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
}
.preview{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #ae2896, #509bf5);
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
}
.preview h6{
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 10px;
}
.preview p{
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
}
.preview .button{
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 14px 30px;
    border: 0px;
    border-radius: 45px;
    cursor: pointer;
}
footer {
    background-color: #282828;
    padding: 40px 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 40px;
  }
  
  footer h3 {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: bold;
  }
  
  footer a {
    color: #b3b3b3;
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
  }
  
  footer a:hover {
    color: #fff;
  }
  
  .social-links {
    display: flex;
    justify-content: flex-end;
  }
  
  .social-links a {
    margin-left: 10px;
  }
  
  .social-links img {
    width: 24px;
    height: 24px;
  }
  
  .copyright {
    grid-column: 1 / -1;
    text-align: center;
    color: #b3b3b3;
    font-size: 14px;
    margin-top: 20px;
  }
